-e ../../../../respan/python-sdks/respan-sdk
-e ../../../../respan/python-sdks/respan-tracing
-e ../../../../respan/python-sdks/respan
-e ../../../../respan/python-sdks/instrumentations/respan-instrumentation-openinference
-e ../../../../respan/python-sdks/instrumentations/respan-instrumentation-mistralai
mistralai>=2.0.0
openinference-instrumentation-mistralai>=2.0.0
python-dotenv
