python-dotenv
pydantic>=2
-e ../../../../respan/python-sdks/respan-sdk
-e ../../../../respan/python-sdks/respan-tracing
-e ../../../../respan/python-sdks/respan
-e ../../../../respan/python-sdks/instrumentations/respan-instrumentation-guardrails
guardrails-api==0.3.3
guardrails-ai @ git+https://github.com/guardrails-ai/guardrails.git@v0.9.3
