python-dotenv>=1.0.0
ibm-watsonx-ai>=1.0.0
-e ../../../../respan/python-sdks/respan-sdk
-e ../../../../respan/python-sdks/respan-tracing
-e ../../../../respan/python-sdks/respan
-e ../../../../respan/python-sdks/instrumentations/respan-instrumentation-watsonx
